.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

/*styles filter container */
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

/*styles filter text */
.filter-container > div {
  margin: 0 10px; 
}

/*styles sorting button */
.sort-button-container {
  padding: 20px;
}

/*styles container for all the clothing items*/
.clothing-items-container {
  width: 75%; 
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*styles a singular clothing item*/
.clothing-item {
  flex-basis: calc(33.33%); 
  margin-bottom: 20px; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center; 
  height: 550px;
}

/*styles a clothing item*'s image container*/
.clothing-item img-container {
  width: 100%; 
  overflow: hidden; 
}

/*styles a clothing item*'s image */
.clothing-item img {
  width: 75%; 
  height: 40%; 
  object-fit: cover; 
}

/*styles shopping cart container*/
.cart-container {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

/*styles shopping cart count*/
.cart-container h2 {
  margin-bottom: 10px;
}

/*styles shopping cart items list*/
.cart-container ul {
  list-style-type: none;
  padding: 0;
}

/*styles individual shopping cart item */
.cart-container li {
  margin-bottom: 5px;
}

/*styles buttons */

.filter-container button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; 
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 8px 16px;

}

.filter-container button:hover {
  color: grey;
}

.sort-button-container button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; 
  cursor: pointer;
  transition: color 0.3s ease; 
  padding: 8px 16px;

}

.sort-button-container button:hover {
  color: grey;
}

.clothing-item button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; 
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.3s ease; 
}

.clothing-item button:hover {
  color: grey;
}

.cart-container button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; 
  padding: 8px 16px; 
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 20px;

}

.cart-container button:hover {
  color: grey;
}

/*styles checkboxes */
.filter-container input[type="checkbox"] {
  appearance: none; 
  width: 16px; 
  height: 16px; 
  border: 1px solid black; 
  border-radius: 3px; 
  margin-right: 5px;
  cursor: pointer;
}

.filter-container input[type="checkbox"]:checked {
  background-color: black;
}

.filter-container input[type="checkbox"]:checked::before {
  content: "\2714"; 
  display: block;
  text-align: center;
  color: white; 
  font-size: 12px; 
}

.filter-container label {
  display: flex;
  align-items: center; 
  height: 20px; 
}

/*styles cart images*/
.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}