/* App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

/* Filter container */
.filter-container {
  display: flex;
  flex-direction: row; /* Arrange elements horizontally */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Set full width */
  padding: 20px;
}

.filter-container > div {
  margin: 0 10px; /* Add margin between elements */
}

.sort-button-container {
  padding: 20px;
}

/* Clothing items container */
.clothing-items-container {
  width: 75%; /* Set width to occupy remaining space */
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.clothing-item {
  flex-basis: calc(33.33%); /* Three items per row with spacing */
  margin-bottom: 20px; /* Add margin between items */
  padding: 20px;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center; /* Center the text */
  height: 550px;
}

.clothing-item img-container {
  width: 100%; /* Set container width */
  /* height: 200px; Set container height */
  overflow: hidden; /* Hide overflow */
}

.clothing-item img {
  width: 75%; /* Take full width of container */
  height: 40%; /* Take full height of container */
  object-fit: cover; /* Crop the image to fit */
}

.cart-container {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ffffff; /* Add background color */

  /* Center all child elements horizontally and vertically */
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */

  
}

/* Cart title */
.cart-container h2 {
  margin-bottom: 10px;
}

/* Cart item list */
.cart-container ul {
  list-style-type: none;
  padding: 0;
}

/* Cart item */
.cart-container li {
  margin-bottom: 5px;
}

/* Reset Filters button */
.filter-container button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; /* Add border */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition effect */
  padding: 8px 16px; /* Add padding to increase button size */

}

/* Change color on hover */
.filter-container button:hover {
  color: grey;
}

/* Sort button */
.sort-button-container button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; /* Add border */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition effect */
  padding: 8px 16px; /* Add padding to increase button size */

}

/* Change color on hover */
.sort-button-container button:hover {
  color: grey;
}

/* Add to Cart button */
.clothing-item button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; /* Add border */
  padding: 8px 16px; /* Add padding to increase button size */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition effect */
}

/* Change color on hover */
.clothing-item button:hover {
  color: grey;
}

.cart-container button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: transparent;
  border: 1px solid black; /* Add border */
  padding: 8px 16px; /* Add padding to increase button size */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition effect */
  margin-bottom: 20px;

}

/* Change color on hover */
.cart-container button:hover {
  color: grey;
}

/* Checkbox styles */
.filter-container input[type="checkbox"] {
  appearance: none; /* Remove default appearance */
  width: 16px; /* Set width of checkbox */
  height: 16px; /* Set height of checkbox */
  border: 1px solid black; /* Add border */
  border-radius: 3px; /* Add border radius */
  margin-right: 5px; /* Add spacing between checkbox and label */
  cursor: pointer;
}

/* Change checkbox background color */
.filter-container input[type="checkbox"]:checked {
  background-color: black;
}

/* Change checkbox checkmark color */
.filter-container input[type="checkbox"]:checked::before {
  content: "\2714"; /* Unicode checkmark character */
  display: block;
  text-align: center;
  color: white; /* Set checkmark color */
  font-size: 12px; /* Adjust checkmark size */
}

.filter-container label {
  display: flex;
  align-items: center; /* Align items vertically */
  height: 20px; /* Fixed height to prevent movement */
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  
  /* Add any additional styling here */
}